# ROS system file
log
install
build

# ROS bag file
rosbag

# Data files
data/*

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.pyo

# Mac OS files
.DS_Store

# VSCode settings
.vscode